<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h2>Login to Mongo Express</h2>
  <form action="/login" method="POST">
    <label>Username: <input type="text" name="username" /></label><br />
    <label>Password: <input type="password" name="password" /></label><br />
    <button type="submit">Login</button>
  </form>
</body>
</html>
